DATABASE_URL=postgresql+asyncpg://caini:@localhost/caini
fe_cors_allowed_origins=https://giftoz.netlify.app;http://localhost:5173;http://192.168.178.146:5173;http://192.168.178.44:5173;http://localhost:5174;http://192.168.178.146:5174;http://192.168.178.44:5174;
STRIPE_SECRET_KEY=ask-for-it
STRIPE_PUBLISHABLE_KEY=pk_test_51QQ3ZQDHKkihrujYtIM7Ak8uPOEhK0hs8KNg7ScJvRPmiOOUx1TaQ41FAdES839sfdtl2Zwk3NuYQKShJudcAwvq009Ww3iD4G
SENDGRID_API_KEY=ask-for-it
FROM_EMAIL=nicai.msn@gmail.com
